blas          symlink=dir
buildfile     symlink=dir
config.hpp.in symlink=dir
dft           symlink=dir
include       symlink=dir
lapack        symlink=dir
rng           symlink=dir
sparse_blas   symlink=dir
